#https://www.instructables.com/rtl-sdr-on-Ubuntu/
#/etc/udev/rules.d/20.rtlsdr.rules 
SUBSYSTEM=="usb", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="2838", GROUP="adm", MODE="0666", SYMLINK+="rtl_sdr"
